<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MuscleList</key>
	<array>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>traps_left</string>
					<key>X</key>
					<real>0.3678</real>
					<key>Y</key>
					<real>0.1232</real>
					<key>Width</key>
					<real>0.1126</real>
					<key>Height</key>
					<real>0.05</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>traps_right</string>
					<key>X</key>
					<real>0.5276</real>
					<key>Y</key>
					<real>0.1232</real>
					<key>Width</key>
					<real>0.1126</real>
					<key>Height</key>
					<real>0.05</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>traps_back</string>
					<key>X</key>
					<real>0.408</real>
					<key>Y</key>
					<real>0.1101</real>
					<key>Width</key>
					<real>0.177</real>
					<key>Height</key>
					<real>0.1619</real>
				</dict>
			</array>
			<key>Name</key>
			<string>斜方肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Videos</key>
					<array>
						<string>Trap Raises Front</string>
						<string>Trap Raises Side</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>双手拿哑铃坐在长凳上，手掌面向身体，挺直腰背。</string>
						<string>提起肩膀，在姿势的顶点处保持收缩的位置。</string>
						<string>慢慢放下肩膀到开始的位置。</string>
					</array>
					<key>Name</key>
					<string>坐立哑铃耸肩</string>
				</dict>
				<dict>
					<key>Videos</key>
					<array>
						<string>Standing Smith Machine Shrugs Front</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>将杠铃放置在较低位置，以便让抓紧的手臂充分延长，并且背部是挺直的。</string>
						<string>抓到肩膀宽度，用肩膀提起杠铃然后暂停在收缩位置。</string>
						<string>慢慢放下杠铃到开始的位置。</string>
					</array>
					<key>Name</key>
					<string>站立杠铃耸肩</string>
				</dict>
			</array>
			<key>Description</key>
			<string>斜方肌是一块平坦的肌肉，覆盖了脖子和上背部。他们让你可以向后拉、旋转肩膀和头。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>shoulders_left</string>
					<key>X</key>
					<real>0.2201</real>
					<key>Y</key>
					<real>0.1612</real>
					<key>Width</key>
					<real>0.1126</real>
					<key>Height</key>
					<real>0.06</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>shoulders_right</string>
					<key>X</key>
					<real>0.661</real>
					<key>Y</key>
					<real>0.1612</real>
					<key>Width</key>
					<real>0.1126</real>
					<key>Height</key>
					<real>0.06</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>shoulders_back_left</string>
					<key>X</key>
					<real>0.2322</real>
					<key>Y</key>
					<real>0.156</real>
					<key>Width</key>
					<real>0.1506</real>
					<key>Height</key>
					<real>0.07340000000000001</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>shoulders_back_right</string>
					<key>X</key>
					<real>0.6115</real>
					<key>Y</key>
					<real>0.156</real>
					<key>Width</key>
					<real>0.1506</real>
					<key>Height</key>
					<real>0.07340000000000001</real>
				</dict>
			</array>
			<key>Name</key>
			<string>肩膀</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>坐在一个长凳上，支撑背部。手掌向前，举起哑铃到肩膀高度。</string>
						<string>向上举起哑铃，暂停在收缩位置。</string>
						<string>下降重物到起始位置。</string>
					</array>
					<key>Name</key>
					<string>哑铃推肩</string>
					<key>Videos</key>
					<array>
						<string>ShoulderPress-Front-021316</string>
						<string>ShoulderPress-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>站直，两边各有哑铃，手掌面向臀部。</string>
						<string>在两侧举起手臂，肘部轻微地弯曲，直到两臂与地面平行后，在最高点暂停。</string>
						<string>慢慢返回胳膊到开始的位置。</string>
					</array>
					<key>Name</key>
					<string>侧平举</string>
					<key>Videos</key>
					<array>
						<string>SideLateralRaise-Front-021316</string>
						<string>SideLateralRaise-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>每只手各有哑铃，弯曲膝盖，脚轻微外弓。在膝盖上方拱起背，重物在胸前触碰开始。</string>
						<string>弯曲肘部，抬起胳膊与肩水平，在最高点暂停。</string>
						<string>慢慢放下胳膊到起始位置。</string>
					</array>
					<key>Name</key>
					<string>俯身侧平举</string>
					<key>Videos</key>
					<array>
						<string>RearDF-Front-021316</string>
						<string>RearDF-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>平躺在长凳，脚放在地上。</string>
						<string>哑铃于胸部上方举在一起开始锻炼，肘部轻微弯曲。</string>
						<string>同时放下重物到两侧。</string>
						<string>重物与长凳水平时暂停，然后举起胳膊到开始位置。</string>
					</array>
					<key>Name</key>
					<string>哑铃飞鸟</string>
					<key>Videos</key>
					<array>
						<string>8gKtwXXYsgFuo</string>
						<string>LEEakEn1EZQoE</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>三角肌在您的肩关节，可使两臂外展。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>chest_front</string>
					<key>X</key>
					<real>0.361</real>
					<key>Y</key>
					<real>0.2064</real>
					<key>Width</key>
					<real>0.2793</real>
					<key>Height</key>
					<real>0.0531</real>
				</dict>
			</array>
			<key>Name</key>
			<string>胸</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Videos</key>
					<array>
						<string>Chest Front</string>
						<string>Chest Side v2</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>平躺在长凳上，脚放在地上，直臂从支架取下杠铃。</string>
						<string>放下杠铃到胸中部。</string>
						<string>举起杠铃直到肘部锁住。</string>
					</array>
					<key>Name</key>
					<string>卧推</string>
				</dict>
				<dict>
					<key>Videos</key>
					<array>
						<string>Front Dips Side</string>
						<string>ChestDips-Front-021316</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>在双杠上方锁住胳膊，保持住身体。</string>
						<string>身体慢慢下降同时向前倾，伸出你的肘部。</string>
						<string>在双杠上方举起身体直到胳膊被锁住。</string>
					</array>
					<key>Name</key>
					<string>臂屈伸</string>
				</dict>
				<dict>
					<key>Videos</key>
					<array>
						<string>DumbellCP-Front-021316</string>
						<string>DumbbellCP-Side-021316</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>抬起长凳到30-45度角。</string>
						<string>躺在长凳上，脚放在地上。</string>
						<string>直臂从支架取下杠铃，降低杠铃到你的上胸肌上方。</string>
						<string>举起杠铃知道胳膊被锁住。</string>
					</array>
					<key>Name</key>
					<string>斜板哑铃推举</string>
				</dict>
				<dict>
					<key>Videos</key>
					<array>
						<string>Flyes-Front-021316</string>
						<string>Flyes-Side-021316</string>
					</array>
					<key>Descriptions</key>
					<array>
						<string>平躺在长凳上，脚放在地上。</string>
						<string>哑铃于胸部上方举在一起开始锻炼，肘部轻微弯曲。</string>
						<string>同时放下重物到两侧。</string>
						<string>重物与长凳水平时暂停，然后举起胳膊到开始位置。</string>
					</array>
					<key>Name</key>
					<string>哑铃飞鸟</string>
				</dict>
			</array>
			<key>Description</key>
			<string>胸部由三块肌肉组成，有助于肩部和上臂的运动。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>bicep_right</string>
					<key>X</key>
					<real>0.677</real>
					<key>Y</key>
					<real>0.2595</real>
					<key>Width</key>
					<real>0.1195</real>
					<key>Height</key>
					<real>0.0655</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>bicep_left</string>
					<key>X</key>
					<real>0.2184</real>
					<key>Y</key>
					<real>0.2595</real>
					<key>Width</key>
					<real>0.1195</real>
					<key>Height</key>
					<real>0.0655</real>
				</dict>
			</array>
			<key>Name</key>
			<string>二头肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>保持上臂固定，向前卷曲重物并且在你呼气的时候收缩二头肌。</string>
						<string>继续移动直到你的二头肌完全收缩，并且杠铃在肩膀高度。</string>
						<string>保持收缩位置一秒钟，并且用力挤压二头肌。</string>
						<string>慢慢把重物降回起始位置。</string>
					</array>
					<key>Name</key>
					<string>杠铃屈臂</string>
					<key>Videos</key>
					<array>
						<string>IFTrnqjHb35gk</string>
						<string>zbt9y6Qp0SPsY</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>站直，每只手在手臂长度位置各有一只哑铃。</string>
						<string>举起一个哑铃，旋动小臂直到它与小臂垂直，而且你的手掌要面对肩膀。</string>
						<string>降低到原来的位置，用另一只手重复。</string>
					</array>
					<key>Name</key>
					<string>哑铃屈臂</string>
					<key>Videos</key>
					<array>
						<string>Bicep Curl Front</string>
						<string>Bicep Curl Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>每只手各拿一个哑铃，重物面对远离你的方向。</string>
						<string>慢慢举起哑铃到胸部高度。</string>
						<string>回到开始位置，重复。</string>
					</array>
					<key>Name</key>
					<string>锤卷</string>
					<key>Videos</key>
					<array>
						<string>Bicep Hammer Curl Front</string>
						<string>Bicep Hammer Curl Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>起始于肩膀区域，二头肌在上臂的前部，通过坚韧的结缔组织——筋——附着于桡骨和尺骨（小臂骨头）。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>abdominals</string>
					<key>X</key>
					<real>0.4046</real>
					<key>Y</key>
					<real>0.2733</real>
					<key>Width</key>
					<real>0.1885</real>
					<key>Height</key>
					<real>0.1298</real>
				</dict>
			</array>
			<key>Name</key>
			<string>腹肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>用背部平躺，膝盖弯曲，双脚平放在地面上，离你的后腰约一只脚的距离。</string>
						<string>指尖放到太阳穴上，手掌向外。</string>
						<string>把腹部收进脊椎的底部来接触肌肉，然后从地上抬起头和肩膀。回到开始位置然后重复。</string>
					</array>
					<key>Name</key>
					<string>仰卧起坐</string>
					<key>Videos</key>
					<array>
						<string>Crunch Front</string>
						<string>Crunch Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>抓住杠悬挂，身体静止，腿伸直。</string>
						<string>慢慢把膝盖拉到胸口。</string>
						<string>当你把膝盖尽可能抬高后，放下大腿然后重复。这些动作的持续时间应该缓慢，让你不利用动力，否则会使你得不到锻炼的大部分效果。</string>
					</array>
					<key>Name</key>
					<string>悬垂屈膝举腿</string>
					<key>Videos</key>
					<array>
						<string>Hanging Leg Raises Side</string>
						<string>Hanging Leg Raises Side 2</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>用背躺下，两侧手臂和手掌向下。</string>
						<string>腿并在一起，伸得越直越好。</string>
						<string>慢慢抬起腿到90度，然后在这个位置暂停，或者把腿抬到尽可能高的位置，然后慢慢把腿降回来。</string>
					</array>
					<key>Name</key>
					<string>躺举腿</string>
					<key>Videos</key>
					<array>
						<string>Leg Raise Front</string>
						<string>Leg Raise Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>将前臂肘部弯曲成90度，与肩膀对齐，手臂平行与肩同宽。</string>
						<string>脚应该靠在一起，只用脚趾接触地面。</string>
						<string>从地上抬起腹部，形成一条从脚跟到头顶的直线并且保持住。</string>
					</array>
					<key>Name</key>
					<string>前臂平板支撑</string>
					<key>Videos</key>
					<array>
						<string>plank-static</string>
						<string>Plank Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>双手握着二轮健腹轮，脚向上交叉跪在地上。</string>
						<string>慢慢向前滚动二轮健腹轮，拉伸身体到比直的位置。</string>
						<string>在伸展位置暂停一下之后，往回拉自己到开始位置。这应该是个缓慢和被控制的运动。</string>
					</array>
					<key>Name</key>
					<string>健腹轮</string>
					<key>Videos</key>
					<array>
						<string>AbRoller-Front-021316</string>
						<string>AbRoller-Side-021316</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>腹肌是位于前腹部的一大群肌肉，辅助呼吸运动的调节，同时也支撑脊柱肌肉。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>forearms_left</string>
					<key>X</key>
					<real>0.1057</real>
					<key>Y</key>
					<real>0.3427</real>
					<key>Width</key>
					<real>0.1897</real>
					<key>Height</key>
					<real>0.1186</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>forearms_right</string>
					<key>X</key>
					<real>0.7103</real>
					<key>Y</key>
					<real>0.3427</real>
					<key>Width</key>
					<real>0.1897</real>
					<key>Height</key>
					<real>0.1186</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>forearms_back_left</string>
					<key>X</key>
					<real>0.08160000000000001</real>
					<key>Y</key>
					<real>0.3427</real>
					<key>Width</key>
					<real>0.1828</real>
					<key>Height</key>
					<real>0.135</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>forearms_back_right</string>
					<key>X</key>
					<real>0.7356</real>
					<key>Y</key>
					<real>0.3427</real>
					<key>Width</key>
					<real>0.1828</real>
					<key>Height</key>
					<real>0.135</real>
				</dict>
			</array>
			<key>Name</key>
			<string>前臂</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>站直从后面用手掌向下的握力握住杠铃，双手和双脚分开与肩同宽。</string>
						<string>用半圆向上的运动慢慢卷曲手腕。</string>
						<string>在运动的顶点握住杠铃，然后放下杠铃到开始的位置。</string>
					</array>
					<key>Name</key>
					<string>背后杠铃腕弯举</string>
					<key>Videos</key>
					<array>
						<string>Barbell Wrist Curls Front</string>
						<string>RV-Curl Forarms-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>手掌向上握哑铃，把前臂放在板凳上。</string>
						<string>用半圆形的运动慢慢向上卷曲手腕。</string>
						<string>返回到开始位置然后重复。</string>
					</array>
					<key>Name</key>
					<string>前臂卷曲</string>
					<key>Videos</key>
					<array>
						<string>Forearm Curls Front</string>
						<string>Forearm Curls Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>前臂由肘部和腕部之间的肌肉组成。他们控制双手的竖直移动，是握力前度的主要因素。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>quads_left</string>
					<key>X</key>
					<real>0.3</real>
					<key>Y</key>
					<real>0.4364</real>
					<key>Width</key>
					<real>0.1885</real>
					<key>Height</key>
					<real>0.2438</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>quads_right</string>
					<key>X</key>
					<real>0.5172</real>
					<key>Y</key>
					<real>0.4364</real>
					<key>Width</key>
					<real>0.1885</real>
					<key>Height</key>
					<real>0.2438</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>quads_back_left</string>
					<key>X</key>
					<real>0.3</real>
					<key>Y</key>
					<real>0.5583</real>
					<key>Width</key>
					<real>0.1851</real>
					<key>Height</key>
					<real>0.1494</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>quads_back_right</string>
					<key>X</key>
					<real>0.5172</real>
					<key>Y</key>
					<real>0.5583</real>
					<key>Width</key>
					<real>0.1851</real>
					<key>Height</key>
					<real>0.1494</real>
				</dict>
			</array>
			<key>Name</key>
			<string>股四头肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>双脚分开与肩同宽站立，背部保持自然拱起，挤压你的肩胛骨，抬起胸部。</string>
						<string>抓住横穿肩膀的杠，用上背部支撑。伸直腿来从支架上取下杠，然后向后退一步。</string>
						<string>弯曲膝盖来降低重物，不要改变背部的形状，知道臀部到膝盖以下。</string>
						<string>把杠抬起到开始位置，用腿抬起并且在最高点呼气。</string>
						<string>不用重杠做这个练习也是可以的。</string>
					</array>
					<key>Name</key>
					<string>蹲举式举重</string>
					<key>Videos</key>
					<array>
						<string>Squat Front</string>
						<string>Squat Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>坐在机器上，背靠着坐垫，调整使用的机器让膝盖在开始位置时位于90度。</string>
						<string>膝盖向外伸展来抬起重物，然后放下腿到开始位置。这两种运动都应该在缓慢、被控制的运动中完成。</string>
					</array>
					<key>Name</key>
					<string>前腿肌伸展</string>
					<key>Videos</key>
					<array>
						<string>Leg Extensions Front</string>
						<string>Leg Extensions Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>握住重物塞进你上胸肌的区域，保持肘部也在。双脚应稍稍比肩宽。</string>
						<string>下沉到蹲坐，保持肘部在膝盖轨迹内部。</string>
						<string>推动脚后跟同时保持胸部向上来返回开始位置。</string>
					</array>
					<key>Name</key>
					<string>持式跨蹲</string>
					<key>Videos</key>
					<array>
						<string>Goblet Squat Front</string>
						<string>Goblet Squat Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>股四头肌由大腿前面的大块肌肉组成，用来伸展腿。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>claves_left</string>
					<key>X</key>
					<real>0.2908</real>
					<key>Y</key>
					<real>0.7208</real>
					<key>Width</key>
					<real>0.1241</real>
					<key>Height</key>
					<real>0.1782</real>
				</dict>
				<dict>
					<key>Front</key>
					<true/>
					<key>TouchImage</key>
					<string>claves_right</string>
					<key>X</key>
					<real>0.5851</real>
					<key>Y</key>
					<real>0.7208</real>
					<key>Width</key>
					<real>0.1241</real>
					<key>Height</key>
					<real>0.1782</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>claves_back_left</string>
					<key>X</key>
					<real>0.2517</real>
					<key>Y</key>
					<real>0.7208</real>
					<key>Width</key>
					<real>0.131</real>
					<key>Height</key>
					<real>0.1199</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>claves_back_right</string>
					<key>X</key>
					<real>0.6149</real>
					<key>Y</key>
					<real>0.7208</real>
					<key>Width</key>
					<real>0.131</real>
					<key>Height</key>
					<real>0.1199</real>
				</dict>
			</array>
			<key>Name</key>
			<string>小腿</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>根据你的身高调整机器，把肩膀置于杠杆软垫下面。</string>
						<string>双脚球状的部分应在阀块上支持你的体重，脚后跟伸出去。</string>
						<string>向上伸展脚后跟，膝盖保持平稳，在收缩位置暂停。</string>
						<string>慢慢回到开始位置，重复。</string>
					</array>
					<key>Name</key>
					<string>站姿提踵</string>
					<key>Videos</key>
					<array>
						<string>Standing Calf Raises</string>
						<string>Standing Calf Raises Wide</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>在机器上保证舒适，然后把下方大腿放在衬垫的下面。然后把脚趾和脚球状部分放到足部支撑上。</string>
						<string>抓住手柄防止重物向前滑，然后松开安全杠。放下重物直到小腿伸展。</string>
						<string>上推脚后跟来提起衬垫杠杆，保持收缩位置，然后慢慢放下到开始位置，重复。</string>
					</array>
					<key>Name</key>
					<string>坐姿提踵</string>
					<key>Videos</key>
					<array>
						<string>Calf Raises Front</string>
						<string>Calf Raises Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>小腿是当你用脚趾站立时在踝关节和膝盖之间收缩的肌肉，帮助弹跳和移动脚。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>back_left</string>
					<key>X</key>
					<real>0.3195</real>
					<key>Y</key>
					<real>0.2149</real>
					<key>Width</key>
					<real>0.1379</real>
					<key>Height</key>
					<real>0.1566</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>back_right</string>
					<key>X</key>
					<real>0.5425</real>
					<key>Y</key>
					<real>0.2149</real>
					<key>Width</key>
					<real>0.1379</real>
					<key>Height</key>
					<real>0.1566</real>
				</dict>
			</array>
			<key>Name</key>
			<string>背</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>站立，脚中部在杠下方，用手握紧杠，分开约一个肩膀的宽度。</string>
						<string>弯曲膝盖，然后通过直起背来提起杠。保持背部伸直很重要。</string>
						<string>完全站直然后保持。</string>
						<string>通过弯曲膝盖把杠放到地上，保持背部伸直。</string>
					</array>
					<key>Name</key>
					<string>硬拉</string>
					<key>Videos</key>
					<array>
						<string>Deadlift Front</string>
						<string>Deadlift Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>手掌向前握住杠，双手需要间隔在超过肩膀宽度的距离。</string>
						<string>当你双臂在面前伸展握住杠之后，躯干向后约30度同时保持胸部突出。</string>
						<string>用平滑的移动向下拉杠到大约下巴高度或者稍低一点，同时挤压肩胛骨到一起。</string>
						<string>挤压一秒后，慢慢抬起杠回到开始位置并且胳膊完全伸展。</string>
					</array>
					<key>Name</key>
					<string>坐姿下拉</string>
					<key>Videos</key>
					<array>
						<string>Neutral Grip Pull Downs Front</string>
						<string>Neutral Grip Pull Downs Rear</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>背部比直坐在机器上，握住手柄。</string>
						<string>用胳膊向后拉手柄，腿和躯干应保持90度，推出胸膛。</string>
						<string>向身体方向拉手柄直到手在腹部旁。</string>
					</array>
					<key>Name</key>
					<string>坐式划船后拉</string>
					<key>Videos</key>
					<array>
						<string>SeatedCableRow-Side-021316</string>
						<string>Seated Cable Row Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>把右腿放在长凳上房顶端，以使膝盖和小腿平放在板凳上，脚挂在后方外面。</string>
						<string>向地板弯曲躯干，通过把手掌平放在长凳来用右手支撑自己。</string>
						<string>左手握住重物，竖直上拉到胸部一侧。重复动作。</string>
						<string>切换支撑腿和手臂，在另一边锻炼。</string>
					</array>
					<key>Name</key>
					<string>哑铃提拉</string>
					<key>Videos</key>
					<array>
						<string>Single Dumbbell Row Front</string>
						<string>Single Dumbbell Row Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>背阔肌是中背部两侧的大块肌肉，允许肩膀向下和向后运动，以及中部手臂的移动。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>triceps_left</string>
					<key>X</key>
					<real>0.2011</real>
					<key>Y</key>
					<real>0.2294</real>
					<key>Width</key>
					<real>0.1184</real>
					<key>Height</key>
					<real>0.1134</real>
				</dict>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>triceps_right</string>
					<key>X</key>
					<real>0.6736</real>
					<key>Y</key>
					<real>0.2294</real>
					<key>Width</key>
					<real>0.1184</real>
					<key>Height</key>
					<real>0.1134</real>
				</dict>
			</array>
			<key>Name</key>
			<string>肱三头肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>保持身体在杠上方手臂长度处。</string>
						<string>吸气，缓缓让身体向下。保持肘靠近身体，躯干直立。</string>
						<string>呼气，用肱三头肌提升身体回到开始位置。</string>
					</array>
					<key>Name</key>
					<string>臂屈伸（窄肘）</string>
					<key>Videos</key>
					<array>
						<string>DipsNarrow-front-021316</string>
						<string>DipsNarrow-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>坐在板凳上，用双手握住哑铃。抬起哑铃超过头部到手臂的高度，用手掌举着哑铃。</string>
						<string>固定肘部的同时在脑后放下重物，稳住上臂。</string>
						<string>抬起重物回到开始位置。</string>
					</array>
					<key>Name</key>
					<string>坐姿伸展肱三头肌</string>
					<key>Videos</key>
					<array>
						<string>TricepExtensions-Front-021316</string>
						<string>TricepExtensions-Side-021316</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>手掌向下在肩膀宽度握住滑轮块。</string>
						<string>站直，稍稍向前倾斜。保持上臂靠近身体，缓缓下拉滑轮块直到手臂完全伸展。</string>
						<string>处于运动的收缩位置时暂停，然后缓缓抬起滑轮块到开始点。</string>
					</array>
					<key>Name</key>
					<string>V杠下拉</string>
					<key>Videos</key>
					<array>
						<string>CablePulldowns-Back-021316</string>
						<string>CablePulldowns-Side-021316</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>肱三头肌由手臂后方肘部和肩膀之间的肌肉组成，控制挺直手臂的运动。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>lowerback</string>
					<key>X</key>
					<real>0.4207</real>
					<key>Y</key>
					<real>0.3316</real>
					<key>Width</key>
					<real>0.1609</real>
					<key>Height</key>
					<real>0.1055</real>
				</dict>
			</array>
			<key>Name</key>
			<string>背后腰</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>站立，脚中部在杠下方，用手握紧杠，分开约一个肩膀的宽度。</string>
						<string>弯曲膝盖，然后通过直起背来提起杠。保持背部伸直很重要。</string>
						<string>完全站直然后保持。</string>
						<string>通过弯曲膝盖把杠放到地上，保持背部伸直。</string>
					</array>
					<key>Name</key>
					<string>硬拉</string>
					<key>Videos</key>
					<array>
						<string>Deadlift Front</string>
						<string>Deadlift Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>把大腿放在衬垫上，在平台上固定脚来支撑，</string>
						<string>保持背部挺直，慢慢弯曲腰部，直到腿和背形成45度角。</string>
						<string>慢慢抬起身体到开始位置。</string>
					</array>
					<key>Name</key>
					<string>45度背部伸展</string>
					<key>Videos</key>
					<array>
						<string>45 Degree Extensions Front</string>
						<string>45 Degree Extensions Side</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>背后腰由腰上方的区域组成，通常和背部问题和背部疼痛相关。锻炼这个肌肉群有助于预防问题，形成强大健康的背部。</string>
		</dict>
		<dict>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Front</key>
					<false/>
					<key>TouchImage</key>
					<string>glutes</string>
					<key>X</key>
					<real>0.3</real>
					<key>Y</key>
					<real>0.4371</real>
					<key>Width</key>
					<real>0.3931</real>
					<key>Height</key>
					<real>0.1212</real>
				</dict>
			</array>
			<key>Name</key>
			<string>臀大肌</string>
			<key>Exercises</key>
			<array>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>躺在地上，膝盖弯曲，脚平放在地上。</string>
						<string>向上推臀，让屁股抬起，背部挺直。</string>
						<string>绷紧臀部，向天花板抬起臀部。</string>
						<string>当你到达可以掌控的最高点后，保持几秒钟这个位置，然后慢慢放下回到开始位置。</string>
					</array>
					<key>Name</key>
					<string>桥式提臀</string>
					<key>Videos</key>
					<array>
						<string>Glute Bridge Front</string>
						<string>Glute Bridge Side</string>
					</array>
				</dict>
				<dict>
					<key>Descriptions</key>
					<array>
						<string>坐在地上，同时有一个板凳在你后面。让杠铃在超过大腿在臀部正上方。</string>
						<string>向后靠在板凳上，肩膀放在上面，伸展出两侧手臂使用版本作为支撑。</string>
						<string>通过脚推动和向上伸展臀部来举起重物，用肩膀和脚支撑重物。</string>
						<string>慢慢尽可能多地伸展，然后慢慢回到开始位置。</string>
					</array>
					<key>Name</key>
					<string>杠铃伸髋</string>
					<key>Videos</key>
					<array>
						<string>Glute Barbell Hip Thrusts Front</string>
						<string>Glute Barbell Hip Thrusts</string>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>臀大肌难以置信的重要。不仅因为他们是最大和最有力的肌肉群之一，他们还参与向每个方向移动臀部。有助于防止受伤，提升性能，也有助于让牛仔裤更合身。</string>
		</dict>
	</array>
</dict>
</plist>
